.App-Results-results {
	article {
		flex: 1 0 auto;
		min-width: 0;
		max-width: 50vw;
		overflow: auto;
		max-height: 15vh;
		border: 1px solid #ccc;
		font-size: 80%;

		span {
			display: inline;
		}
	}
}
