.App-Pagination {
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: row;

	a {
		display : inline-block;
		padding: 0 0.4vw;
	}

	&-active {
		text-decoration: none;
		color: #aaa;
		cursor: default;
	}
}
