.App-Pagination {
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: row;

	a {
		display : inline-block;
	}

	&-active {
		text-decoration: none;
		color: #aaa;
		cursor: default;
	}
}
