@import "../../utils.css";

.collection {
	@extend flex-column;
	padding-left: 1em;
}

.header {
	@extend flex-row;
	align-items: center;
	flex: 0 1 auto;
}

.h2 {
	display: inline;
	margin-right: 1em;
}

.iconLink {
	@extend icon-link;
}

.popover__trigger {
	@extend icon-link;
}

/*
& > section {
	@extend %flexbox-container;
	margin-top: 4em;
}
*/
