.collection {
	composes: column from '../../utils.css';
	padding-left: 1em;
}

.header {
	composes: row from '../../utils.css';
	align-items: center;
	flex: 0 1 auto;
}

.h2 {
	display: inline;
	margin-right: 1em;
}

.iconLink {
	composes: icon-link from '../../utils.css';
}

.popover__trigger {
	composes: icon-link from '../../utils.css';
}

/*
& > section {
	@extend %flexbox-container;
	margin-top: 4em;
}
*/
