@import "../../mixins";

aside {
	padding: 15px;
	background-color: color(c1);
	color: #eceff1;

	& > header {
		@extend %flexbox-container;
		flex: 0 0 auto;

		h3 {
			margin-top: 0;
		}
		& > div {
			display: flex;
			flex-flow: row wrap;
		}
	}

	& > nav {
		@extend %flexbox-container;
		flex-flow: column nowrap;

		a {
			display: flex;
			color: rgba(255, 255, 255, 0.56);
			flex-direction: row;
			flex-shrink: 0;
			align-items: center;
			font-weight: 500;
			padding: 5px 0;
			margin: 0;
			text-decoration: none;

			&:hover {
				background-color: #00BCD4;
				color: #37474F;
			}

			svg {
				margin-right: 10px;
			}
		}
	}
}