@import "../../mixins";

.app aside {
	@extend %flexbox-container;
	flex: 0 1 250px;
	padding: 15px;
	background-color: color(c1);
	color: #eceff1;

	h3:first-of-type, h4 {
		margin-top: 0;
	}

	.serverUri {
		font-size: .9em;
	}

	& > div {
		@extend %flexbox-container;
		flex-flow: row wrap;
		flex: 0 0 auto;
		justify-content: space-between;

		select {
			flex: 0 1 50%;
			color: #000;
		}

		&.collections {
			margin-top: 3em;
		}
	}

	nav {
		@extend %flexbox-container;
		flex-flow: column nowrap;

		a {
			display: flex;
			color: rgba(255, 255, 255, 0.56);
			flex-direction: row;
			flex-shrink: 0;
			align-items: center;
			font-weight: 500;
			padding: 5px 0;
			margin: 0;
			text-decoration: none;

			&:hover {
				background-color: rgba(00, 188, 212, 1) !important;
				color: #37474F;
			}

			svg {
				margin-right: 10px;
			}

			&.active {
				background-color: rgba(255, 255, 255, .1);
			}
		}
	}
}
