@import "../../../../../vars.scss";
@import "../../../../../utils.css";

.row {
	border: 1px solid #ddd;
	border-right: none;
}

.cell {
	font-size: 80%;
	max-width: 10vw;
	overflow: hidden;
	border-right: 1px solid #ddd;
	padding: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;

	.undefined {
		background-color: #ddd;
		width: 100%;
	}
}

.actions {
	composes: cell;
	display: flex;
	flex-flow: row nowrap;
	flex-shrink: 0;
	font-size: 100%;

	a {
		@extend icon-link;
	}
}

.boolean {
	composes: cell;
	text-align: center;
	font-style: italic;
	color: #551a8b;
}

.number {
	composes: cell;
	text-align: right;
	color: #905;
}

.array,
.object {
	composes: cell;
	text-align: center;
	color: #999;
}

.string {
	composes: cell;
	color: #690;
}

.objectId {
	composes: cell;
	color: #e74c3c;
}
