@import "../../../../mixins";

.App-Results-docs {
	article {
		width: 40vw;
		@extend %flexbox-container;

		& > header {
			background: #E6E6E6;
			padding: 3px 10px;
			@extend %flexbox-container;
			flex-flow: row;
			align-items: center;

			& > a {
				display: flex;
				font-size: 1.1em;
				margin-right: 5px;
				padding: 5px;

				&:hover {
					color: color(c2);
				}
				&:active {
					color: color(c3);
					background: #F5F5F5;
				}


			}
		}

		& > div {
			max-height: 15vh;
			border: 1px solid #ccc;
			overflow: auto;
			font-size: 80%;
		}
	}
}
