@import "../../../../mixins";

.App-Results-docs {
	article {
		width: 40vw;
		@extend %flexbox-container;

		& > header {
			background: #E6E6E6;
			padding: 3px 10px;
			@extend %flexbox-container;
			flex-flow: row;
			align-items: center;
		}

		& > div {
			max-height: 15vh;
			border: 1px solid #ccc;
			overflow: auto;
			font-size: 80%;
		}
	}
}
