@import "../../../../mixins";

.App-Results-docs {

	article {
		width: 50vw;
		@extend %flexbox-container;

		& > header {
			display: flex;
			background: #E6E6E6;
			padding: 3px 10px;
			flex-flow: row;
			align-items: center;
			flex: 0 0 auto;

			& > a {
				@extend %icon-link;
			}
		}

		& > div {
			max-height: 15vh;
			border: 1px solid #ccc;
			overflow: auto;
			font-size: 80%;

			code {
				width: 100%;
			}
		}
	}
}
