@import "../../../../mixins";

.App-Pagination {
	@extend %flexbox-container;
	justify-content: flex-start;
	flex-direction: row;
	margin-bottom: 1em;

	a {
		display : inline-block;
		width: 2.5em;
		padding: .4em 0;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-right: 8px;
		text-decoration: none;
		
		&:hover {
			background-color: #37474F;
			color: #fff;
		}
	}

	a.App-Pagination-item--active {
		color: #aaa;
		cursor: default;
		border: none;
	}

	span {
		display : inline-block;
		margin-right: 5px;
		padding: .4em 0;
	}
}
