@import "../../../../mixins";

.App-Pagination {
	@extend %flexbox-container;
	justify-content: flex-start;
	flex-direction: row;
	margin-bottom: 1em;

	span, a {
		display: inline-block;
		width: 3em;
		padding: 0.4em 0;
		text-align: center;
		border-left: 1px solid #ccc;
	}

	a {
		text-decoration: none;
		color: color(c2);

		/*
		&:first-of-type {
			border-left: 1px solid #ccc;
		}
		*/

		&:hover {
			background-color: #E6E6E6;
			color: color(c3);
		}

		/*
		&:hover {
			border-radius: 2px;
			background-color: color(c1);
			color: color(c3);
			border: none;
			box-shadow: 0 1px 4px 0 rgba( 0, 0, 0, .56 );
		}
		*/
	}

	span {
		color: #aaa;

	}

	&-previous {
		border: none !important;
	}
}
