.querybox {
	display: flex;
	flex-flow: row wrap;
	width: 50vw;
	margin-bottom: 3em;

	header {
		background: #E6E6E6;
		padding: 5px 10px;
		flex-grow: 1;
		width: 100%;
	}

	textarea {
		flex-grow: 1;
		width: 100%;
	}
}
