@import "mixins";

* {
	box-sizing: border-box;
}

svg {
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	fill: currentcolor;
}

body,
#root {
	@extend %flexbox-container;
	flex-direction: row;
	flex: 1 0 auto;
}

.app {
	@extend %flexbox-container;
	min-height: 100vh;

	div {
		display: flex;
	}

	a {
		color: #551a8b;

		&:hover {
			color: color(c2);
		}
		&:active {
			color: color(c3);
			background: #F5F5F5;
		}
	}

	& > header {
		@extend %flexbox-container;
		flex-wrap: nowrap;
		flex: 0 0 auto;
		height: 3em;
		justify-content: center;
		border: none;
		z-index: zIndex(header);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		color: #757575;
		background-color: #F5F5F5;
		padding: 0 0 0 40px;
		font-size: 20px;
		font-weight: 400;
	}

	& > footer {
		flex-grow: 0;
		height: 3em;
		@extend %flexbox-container;
		align-items: center;
		align-self: center;
	}

	& > main {
		@extend %flexbox-container;
		flex-direction: row;
		padding: 5px;
		background-color: #F5F5F5;

		& > div {
			flex: 1 0 auto;
		}
	}

	label {
		& > span:first-of-type {
			margin-right: 5px;
		}
	}
}

.popover[class*="menu"] {
	.popover__content {
		border-radius: 3px;
		min-width: 7em;
		flex-flow: column nowrap;
		background-color: color(c1);
		color: #eceff1;

		& a {
			color: rgba(255, 255, 255, 0.56);
			padding: .5em 1em;
			margin: 0;
			text-decoration: none;

			&:hover {
				background-color: rgba(00, 188, 212, 1) !important;
				color: #37474F;
			}
		}
	}
}
