.row {
	display: flex;
	flex-flow: row nowrap;
	align-content: flex-start;
	flex: 1 0 auto;
}

.column {
	display: flex;
	flex-flow: column nowrap;
	align-content: flex-start;
	flex: 1 0 auto;
}

.centered {
	justify-content: center;
}

.flexbox-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	flex: 1 0 auto;
	//box-sizing: border-box;
}

.icon-link {
	display: flex;
	font-size: 1.1em;
	margin-right: 5px;
	padding: 5px;
}
